/.settings
/.idea
*.iml
!spec/*.iml
/.project
/.metadata
framework/restlet/.settings
framework/restlet/target
framework/restlet/.classpath
framework/restlet/.project
framework/generation/.settings
framework/generation/target
framework/generation/.classpath
framework/generation/.project
runtime/runtime-domain-sqlg/target
runtime/runtime-test-sqlg/target
test/blueprints/umlg-test-sqlg-blueprints/target
test/blueprints/umlg-test-sqlg-blueprints/src/test/db
eclipselib
target
