#tabContainer-menu-container {
    margin: 5px;

    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.5em 0.5px 0.5em;
}

.ui-layout-north .embossed {
    margin: 0 auto;
    width: 60px;
}

.ui-layout-north {
    background-color: #EEEEEE;
}

.embossed span {
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #EEEEEE;
    opacity: 0.3;
    font: 20px 'Museo700';
}

.CodeMirror {
    font-size: 15pt;
    height: 100%;
}

.query-north {
    padding: 0px
}

.query-center.ui-layout-pane.ui-layout-pane-center {
    background-color: #EEEEEE;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.required-field:before {
    content: "* ";
    color: red;
}

.ui-textfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: default;
}

.ui-tabs-nav .tabs-button {
    float: right;
}

.ui-tabs-nav .tabs-button .ui-button {
    /*90% prevents chrome from displaying a line under the selected tab*/
    font-size: 90%;
    /*90% crap way of making the buttons appear in the middle vertically*/
    margin-top: 1px;
}

#buttons {
    float: right;
    margin-top: 4px;
}

#tabs-layout {
    height: auto;
    width: auto;
}

/*tabs*/
#tabs-layoutTabs {
    font-family: arial;
    font-size: 8pt;
    margin: 5px;

    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ui-layout-west {
    font-family: arial;
    font-size: 8pt;
}

#tabs-layoutTabs li .ui-icon-cancel {
    float: left;
    margin: 0.2em 0.2em 0 0;
    cursor: pointer;
}

#tabs-layoutTabs li .ui-icon-plus {
    float: left;
    margin: 0.2em 0.2em 0 0;
    cursor: pointer;
}

#tabs-layoutTabs li .ui-icon-close {
    float: left;
    margin: 0.2em 0.2em 0 0;
    cursor: pointer;
}

/*Accordion*/
.ui-accordion .ui-accordion-content {
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.server-error-msg {
    border: 1px solid red;
    /* round the corners */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px red;
    -moz-box-shadow: 0px 0px 4px red;
    box-shadow: 0px 0px 4px red;

    margin: 5px;
    width: auto;
    text-align: center;
}

#serverErrorMsg p {
    display: block;
}

.validation-error-msg {
    margin-left: 10px;
    color: red;
}

.validation-error {
    border: 1px solid red;
    /* round the corners */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px red;
    -moz-box-shadow: 0px 0px 4px red;
    box-shadow: 0px 0px 4px red;
}

.oneUl {
    margin-top: 30px;
    list-style: none;
}

.oneUl li {
    margin-bottom: 10px;
    background: none;
}

.oneUl li label, input, p {
    display: inline-block;
}

.oneUl li label {
    margin-right: 20px;
    text-align: right;
    vertical-align: middle;
    width: 200px;
    font-size: 130%;
}

.one-tabs-button {
    padding-left: 180px;
    margin-left: 5px;
}

.onesavebuttondiv {
    padding-left: 170px;
}

.many-primitive-one-img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-color: blue;
    display: inline-block;
    vertical-align: middle;
}

.many-primitive-editor-li-div {
    text-align: left;
}

.many-primitive-editor-li-div span {
    width: 50px;
}

.many-primitive-editor-li-div img {
    position: relative;
    right: -50px;
}

.many-primitive-editor {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 150px;
    height: 200px;
    text-align: center;
}

.many-primitive-editor input[type=text] {
    width: 70px;
}

.many-primitive-editor-result {
    height: 175px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.many-primitive-editor-result table {
    border-collapse: collapse;
}

.many-primitive-editor-result-table {
    width: 100%;
    border: 1px solid silver;
}

.many-primitive-editor-row:hover {
    background-color: #E0F8F7;
}

.many-primitive-editor-row td {
    border-right: 1px dotted silver;
    border-bottom: 1px dotted silver;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    z-index: 1;
    margin: 0;

    white-space: nowrap;

    cursor: default;
}

.many-primitive-editor-cell-img {
    text-align: center;
}

.many-primitive-editor-select-div {
    text-align: center;
}

.many-primitive-editor-for-one {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 150px;
    height: 220px;
    text-align: center;
    position: absolute;
    z-index: 10;
}

.many-primitive-editor-for-one input[type=text] {
    width: 70px;
}

.selectheader {
    width: auto;
    height: 30px;
}

.selectheader p {
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.panel {
    height: auto;
}

.pane {
    display: none; /* will appear when layout inits */
}

.oclouter {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.oclinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ocltextarea {
    float: left;
    width: 70%;
}

.oclinnerbutton {
    background-color: #EEEEEE;
    float: left;
    width: 30%;
    height: 100%;
}

.oclinner textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.oclexecutebutton {
    float: left;
    width: 20%;
    height: 70%;
    margin: 10px;
}

.oclexecutebutton button {
    padding: 5px;
}

.oclinputeditbutton {
    float: left;
    width: 70%;
    height: 80%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.oclinputeditbutton button {
    padding: 5px;
}

.oclqueryname {
    text-align: center;
    padding: 5px;
}

.oclqueryname .chzn-container {
    float: left;
}

.ocleditbutton {
    text-align: center;
}

.ocleditbutton .query-save-button {
    margin-left: auto;
}

#queryButtonUl {
    list-style: none;
}

#queryButtonUl li {
    padding: 2px;
}

.oclresult {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ui-left-menu-link {
    padding: 0em;
    margin: 0em;
}

.ui-left-menu-li {
    background: none;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

.ui-left-menu-li.activeproperty {
    background: #fe4864;
}

.ui-left-menu-li.inactiveproperty {
    /*background: #8d83f6;*/
}

.ui-left-menu-li.contextactiveproperty {
    background: #efa9f4;
}

.ui-left-menu-li a {
    color: black;
    cursor: pointer;
}

.ui-left-menu-li a:hover {
    color: blue;
}

.ui-left-menu-li.menu-composite {
    background-image: url(../javascript/images/UMLComposition.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.ui-left-menu-li.menu-noncomposite {
    background-image: url(../javascript/images/UMLAssociation.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.ui-left-menu-li span {
    padding-left: 5px;
}

.ui-left-menu-li-query-tree {
    /* this removes slickgrid arrow */
    background: none;
    padding-left: 5px;
}

.ui-left-menu-li-query-tree .jqtree-folder ul {
    margin-left: 2px;
}

.ui-left-menu-li-query-tree li {
    background: none;
    padding-left: 0px;
}

.ui-layout-pane {
    padding: 5px;
}

.ui-layout-pane-center {
    padding: 5px
}

.ui-layout-center-heading {
    background-color: #EEEEEE;
    height: 20px;
}

.ui-layout-west-heading {
    background-color: #EEEEEE;
    height: 20px;
}

.navigation-qualified-name {
    float: left;
    line-height: 20px;
    padding-left: 5px;
    font-family: arial;
    font-size: 8pt;
    font-weight: bold;
}

.validation-warning {
    color: red;
    float: right;
    margin-right: 5px;
    padding-top: 5px;
    text-align: right;
    font-family: arial;
    font-size: 8pt;
    font-weight: bold;
}

.multiplicity-warning {
    color: red;
    float: right;
    margin-right: 5px;
    padding-top: 5px;
    text-align: right;
    font-family: arial;
    font-size: 8pt;
    font-weight: bold;
}

.ui-left-menu-query-li.instance-query {
    padding: 3px 0 3px 20px;
    margin: .4em 0;
    background-image: url(../javascript/images/instancequery.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.ui-left-menu-query-li.class-query {
    padding: 3px 0 3px 20px;
    margin: .4em 0;
    background-image: url(../javascript/images/classquery.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.ui-left-menu-query-li a {
    color: black;
    cursor: pointer;
}

.ui-left-menu-query-li a:hover {
    color: blue;
}

.querymenuactive {
    background-color: #fe4864;
}

.querymenuinactive {
    /*background-color: blue;*/
}

#contextHeading {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding-top: 5px;
}

#contextHeading .contextHeadingB {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

.contextHeadingB:hover {
    color: blue;
}

#contextRoot {
    /* padding-top is same as jddm menu */
    padding-top: 5px;
    float: left;
}

#contextRoot b {
    vertical-align: middle;
    text-align: center;
}

.contextPath:hover {
    color: blue;
}

.contextPath {
    cursor: pointer;
}

.selfUrl {
    cursor: pointer;
}

.grid-button {
    float: left;
}

.umlg-delete-img {
    display: block;
    margin: auto
}

.tumlSlickGrid {
    padding-bottom: 3px;
}

.umlg-updated-id {
    color: blue;
}

.umlg-new-id {
    color: green;
}

/*for one view*/
.ui-state-default.umlg-new-id {
    color: green;
}

.ui-state-default.umlg-updated-id {
    color: blue;
}

.slick-row:hover {
    background-color: #E0F8F7;
}

.slick-headerrow-column {
    background: #87ceeb;
    text-overflow: clip;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-headerrow-column input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cell-title {
    font-weight: bold;
}

.cell-effort-driven {
    text-align: center;
}

.cell-selection {
    border-right-color: silver;
    border-right-style: solid;
    background: #f5f5f5;
    color: gray;
    text-align: right;
    font-size: 10px;
}

.slick-row.selected .cell-selection {
    background-color: transparent; /* show default selected row background */
}

.contextMenu {
    background: #EEEEEE;
    padding: 2px;
    display: inline-block;
    min-width: 100px;
    z-index: 99999;
}

/*override ui state defaults border*/
.contextMenu li.ui-state-default {
    border: none;
}

.contextMenu li {
    background: #EEEEEE;
    padding: 4px 4px 4px 14px;
    margin: 5px;
    list-style: none;
    cursor: pointer;
}

.contextMenu li span {
    margin-left: 5px;
}

.contextMenu li span.menu-composite {
    background-image: url(../javascript/images/UMLComposition.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.contextMenu li span.menu-noncomposite {
    background-image: url(../javascript/images/UMLAssociation.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.contextMenu li:hover {
    background-color: #FDF5CE;
}

/* Menu styles */
#jsddm {
    /* umlg add start */
    float: right;
    /* umlg add stop */
    margin: 0;
    padding: 0
}

#jsddm li {
    float: left;
    list-style: none;
    font: 12px Tahoma, Arial;
    background: none;
    padding: 0
}

#jsddm li a {
    display: block;
    background: #324143;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    width: 70px;
    color: #EAFFED;
    white-space: nowrap;
}

#jsddm li a:hover {
    background: #24313C
}

#jsddm li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white
}

#jsddm li ul li {
    float: none;
    display: inline
}

#jsddm li ul li a {
    width: auto;
    background: #A9C251;
    color: #24313C
}

#jsddm li ul li a:hover {
    background: #8EA344
}

.grid-button {
    float: right;
    #margin-right: 40%;
    #position: relative;
    #vertical-align: middle;
    padding: 2px;
}